.nav-title {
    font-family: tahoma;
    font-size: 44px;
    font-weight: 700;
    display: inline-block;
    color: #f2f2f2;
    padding-left: 20px;
}

.nav {
  overflow: hidden;
  background-color: #457736;
}

.nav-link {
  float: left;
  color: #f2f2f2;
  background-color: #457736;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.nav-link:hover {
  background-color: #3e6b31;
}

.nav-right {
  float: right;
  display: inline-flex;
  padding: 20px;
}

.woodbury-logo {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;;
  height: 80px;
  width: 400px;
}

